page-robo {


  .roboCtl-move{
    color:#387ef5; //blueish
    font-size: 100px;
  }

  .roboCtrl-stop{
    color:#ff0000;
    font-size: 100px;
   }

   .ctrlPanel{
    background: #424242;
    border-radius: 40px;
    font-size: 100px;
   }

}
